<!DOCTYPE html>
<html>
<head>
  <title>KiloSoundscape</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Karla" rel="stylesheet">

</head>
<body>
<nav class="navbar">
  <ul class="navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/artists">Artists</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/store">Store</a></li>
  </ul>
</nav>

<div class="logo"></div>

<div id="body-container">
  <%= yield %>
</div>

<%= render 'layouts/radio' %>

</body>
</html>
